@font-face {
    font-family: 'Inter';
    src: url("assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
  }

*{
    margin: 0;
    padding: 0;
   font-family: 'Inter', sans-serif !important;
}
ul{
    padding-inline-start: 0;
}